DB_TYPE=mysql
DB_HOST=mysql_db
DB_PORT=3306
DB_USERNAME=daniel
DB_PASSWORD=daniel
DB_DATABASE=mydb
DB_SYNCHRONIZE=true
MYSQL_ROOT_PASSWORD=root

# Should Be a hash
JWT_SECRET=anySecret
JWT_EXPIRATION=2h

REDIS_HOST=redis
REDIS_PORT=6379
